/*
#006400 - forest green
#00ff00 - lime green


*/

.glow {
/*
    
    width: 100px;
    height: 100px;
    display: block;
    position: fixed;
    z-index: 100000000;
    top:0;
    left:0;
    background-color: transparent;
    
*/
    animation: neon3 1.5s ease-in-out infinite alternate;
}


@keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00ff00, 0 0 70px #00ff00, 0 0 80px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00ff00, 0 0 35px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00, 0 0 75px #00ff00;
  }
}

