/* 
***
----
Game
----
***
*/

.game-container{
	height: 99vh;
	width: 100vw;
}

/* 
***
----
Enemy 
----
***
*/

.hand {
	float: left;
	position: relative;
	top: 9.5vh;
	left: 2.5vw;
	height: 80vh;
	width: 20vw;
	min-width: 180px;
	border: 1px solid blue;
}

/* 
***
----
Board
----
***
*/



/* 
***
----
Board
----
***
*/


.game-board{
	position: absolute;
	top: 9.5vh;
	left: 30vw;
	height: 80vh;
	width: 40vw;
	min-width: 265px;
	border: 1px solid red;
}

.card-slot{
	float: left;
	position: relative;
	height: 25vh;
	width: 25%;
	border: 1px solid green;
	margin-top: 1vh;
	margin-left: 1vh;
	left: 3.85vw;
}

.card-offset-left {
	left: 2vw;
}

.card-offset-right {
	left: 5vw;
}

.card-slot:hover{
	background-color: tan;
	cursor: pointer;
}

/* 
***
----
Player Hand
----
***
*/


.player-hand {
	float: right;
	left: -2.5vw;
}

/* 
***
----
Cards
----
***
*/

.player-card {
	height: 25vh;
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
	float: left;
	cursor: pointer;
	background-image: url('./img/skull_monk_card_back.png');
	background-size: cover;
	
}

.player-card:hover {
	margin-bottom: 5vh;
}

.all-player-cards {
	margin-top: -20vh;
	position: relative;
	
}



.one {
	z-index: 1;
}


.two {
	z-index: 2;
	background-image: url('./img/skull_monk_card_back.png');
	background-size: cover;
}


.three {
	z-index: 3;
/*	background-color: black;*/
}

.four {
	z-index: 4;
/*	background-color: red;*/
}

.five {
	z-index: 5;
/*	background-color: orange;*/
}


