/* 
***
----
Game
----
***
*/

.game-container{
	height: 99vh;
	width: 100vw;
}

/* 
***
----
Enemy 
----
***
*/

.hand {
	float: left;
	position: relative;
	top: 9.5vh;
	left: 2.5vw;
	height: 80vh;
	width: 20vw;
	min-width: 180px;
	border: 1px solid blue;
}

/* 
***
----
Board
----
***
*/


.goBigger, 
.goBigger h1 {
	display: none;
}


/* 
***
----
Board
----
***
*/


.game-board{
	position: absolute;
	top: 9.5vh;
	left: 30vw;
	height: 80vh;
	width: 40vw;
	min-width: 265px;
	border: 1px solid red;
}

.card-slot{
	float: left;
	position: relative;
	height: 25vh;
	width: 25%;
	border: 1px solid green;
	margin-top: 1vh;
	margin-left: 1vh;
	left: 3.85vw;
}

.card-offset-left {
	left: 2vw;
}

.card-offset-right {
	left: 5vw;
}

.card-slot:hover{
	background-color: tan;
	cursor: pointer;
}

/* 
***
----
Player Hand
----
***
*/


.player-hand {
	float: right;
	left: -2.5vw;
}

/* 
***
----
Cards
----
***
*/

.cardContainer {
	position: relative;
	width: 50%;
	margin: 15% auto;
}

.card {
	height: 27vh;
	width: 100%;
	float: left;
	cursor: pointer;
}

.player-card {
	background-size: cover;
}

.enemyCard {
	background-image: url('./img/cardBacks/skull_monk_card_back.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.card:hover {
	margin-bottom: 5vh;
}

.all-player-cards {
	margin-top: -20vh;
	position: relative;
	
}



.one {
	z-index: 1;
	background-image: url('./img/witch%2001.jpg');	
	background-size: contain;
}


.two {
	z-index: 2;
	background-image: url('./img/witch%2002.jpg');
}


.three {
	z-index: 3;
	background-image: url('./img/witch%2003.jpg');
}

.four {
	z-index: 4;
	background-image: url('./img/witch%2004.jpg');
	background-size: contain;
}

.five {
	z-index: 5;
	background-image: url('./img/witch%2005.jpg');
}


.six {
	z-index:6;
	background-image: url('./img/witch%2006.jpg');
}


@media(max-width: 700px) {
	*{
		visibility: hidden;
	}
	
	.goBigger,
	.goBigger h1 {
		visibility: visible;
		text-align: center;
		margin: 0 auto;
		display: inline-block;
	}
	
}