/* Cards have an apect ratio of 1.62 */

* {
    box-sizing: border-box;
}

/* 
***
----
Game
----
***
*/

.game-container{
	height: 100vh;
	width: 100vw;
    background-image: url(img/op/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}



/* 
***
----
Board
----
***
*/


.game-board {
    width: 180px;
    height: 270px;
    position: absolute;
    padding-left: 6px;
    top: 25%;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.card-slot{
    height: 90px;
    width: 55px;
    background-color: black;
    display: inline-block;
}

.card-slot:hover{
	background-color: tan;
	cursor: pointer;
}



/* 
***
----
hands
----
***
*/

.hand {
    position: absolute;
	width: 245px;
}


/* 
***
----
Cards
----
***
*/



.card {
	height: 100px;
	width: 62px;
    margin-left: -30px;
	cursor: pointer;
    position: relative;
    display: inline-block;
}


.selected {
    margin-bottom: 40px;
    z-index: 100;
}


/* 
***
----
Player Hand
----
***
*/


.playerHand {
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
}



/*
MAGNIFIED PLAYERCARDS
*/

.magnifiedHand {
	width: 250px;
	margin: 0 auto;
	height: 100vh;
	
}

.magnifiedCard {
	height: 300px;
	width: 186px;
	position: fixed;
	z-index: 10;
	background-size: cover;
	bottom: 125px;
}

.magOne {
	background-image: url('./img/op/necromancerSM.png');
	margin-left: -50px;
}

.magTwo {
	background-image: url('./img/op/pyromancerSM.png');
}

.magThree {
	background-image: url('./img/op/enchantressSM.png');
	margin-left: 20px;
}

.magFour {
	background-image: url('./img/op/iceMaidenSM.png');
	margin-left: 50px;
}

.magFive {
	background-image: url(./img/op/doomseekerSM.png);
	margin-left: 90px;
}

.magSix {
	background-image: url(./img/op/acolyteSM.png);
	margin-left: 120px;
}


.visible {
	visibility: visible;
	transition: margin-bottom 1000ms;
	margin-bottom: 10px;
}

.hidden {
	visibility: hidden;	
}

/*
PLAYER CARD ROTATION
*/


.one {
	transform: rotate(-10deg) translateY(2%);
}

.two  {
	transform: rotate(-5deg) translateY(-2%);
}

.three {
	transform: rotate(-2deg) translateY(-5%);
}

.four {
	transform: rotate(2deg) translateY(-5%);
}

.five {
	transform: rotate(5deg) translateY(-2%);
}

.six {
	transform: rotate(10deg) translateY(2%);
}

/* 
PLAYER CARD IMAGES
*/


.one, 
.pc1 {
	z-index: 1;
	background-image: url('./img/op/necromancerSM.png');
    margin-left: 0;
}


.two, 
.pc2 {
	z-index: 2;
	background-image: url('./img/op/pyromancerSM.png');
}


.three, 
.pc3 {
	z-index: 3;
	background-image: url('./img/op/enchantressSM.png');
}

.four, 
.pc4 {
	z-index: 4;
	background-image: url('./img/op/iceMaidenSM.png');
}

.five, 
.pc5 {
	z-index: 5;
	background-image: url(./img/op/doomseekerSM.png);
}


.six, 
.pc6 {
	z-index:6;
	background-image: url(./img/op/acolyteSM.png);
}

.one, 
.two,
.three,
.four,
.five,
.six,
.pc1, .pc1:hover,
.pc2, .pc2:hover,
.pc3, .pc3:hover,
.pc4, .pc4:hover,
.pc5, .pc5:hover,
.pc6, .pc6:hover {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
}



/* 
***
----
Enemy Hand
----
***
*/

.enemyHand {
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    transform: rotateX(180deg);
}


/* 
ENEMY CARD IMAGES
*/

.ec1, .ec1:hover,
.ec2, .ec2:hover,
.ec3, .ec3:hover,
.ec4, .ec4:hover,
.ec5, .ec5:hover,
.ec6, .ec6:hover,
.enemyCard, .enemyCard:hover {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}


.enemyCard {
	background-image: url('./img/cardBacks/skull_monk_card_back.png');
}


.enemyCardOne {
    margin-left: 0;
}

.ec1 {
	background-image: url('./img/skeleton.jpg');
}

.ec2 {
	background-image: url('./img/skeleton07.png');
}

.ec3 {
	background-image: url('./img/skeleton%2003.jpg');
}

.ec4 {
	background-image: url('./img/skeleton%2004.jpg');
}

.ec5 {
	background-image: url('./img/skeleton%2005.jpg');
}

.ec6 {
	background-image: url('./img/skeleton%2006.jpg');
}



/* 
***
----
MEDIA QUERIES
----
***
*/

@media(max-width: 700px) {
	
    
}